body {
  font: 20px Arial;
  font-weight: bold;
  margin: 100px 300px;
  background-color: gainsboro;
  white-space: nowrap; 
  
}

ol, ul {
  padding-left: 30px;
  font: 17px Arial;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background-color: peachpuff;
  border: 5px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 115px;
  margin-top: 10px;
  font-size: 15px bold;
}
